<div class="govuk-!-margin-bottom-5 align-items-center">
  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="govuk-!-margin-right-5">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4835 25C19.387 25 24.9835 19.4036 24.9835 12.5C24.9835 5.59644 19.387 0 12.4835 0C5.79731 0 0.337225 5.24955 0 11.8519H16.1981V11.5432L10.4778 5.96244C9.99807 5.49444 9.98858 4.72616 10.4566 4.24646C10.9246 3.76675 11.6929 3.75726 12.1726 4.22527L19.9899 11.8519C20.4696 12.3199 20.479 13.0882 20.011 13.5679L12.3844 21.3851C11.9164 21.8649 11.1482 21.8743 10.6684 21.4063C10.1887 20.9383 10.1792 20.1701 10.6473 19.6903L16.2281 13.97H0.0690137C0.796593 20.1808 6.07725 25 12.4835 25Z" fill="#2A7E3E"/>
  </svg>
  <a href="#" class="govuk-link"><%= text %></a>
</div>
