<% content_for :title, @sub_category[:title] %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    <div class="background-wide background-cream">
      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full">
          <%= render 'layouts/components/small', text: @sub_category[:collection_name] %>
          <%= render 'layouts/components/headings/one', text: @sub_category[:title] %>
          <% @sub_category[:description].each do |description| %>
            <%= render 'layouts/components/paragraph', text: description[:data][:text] %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-full">
        <%= render 'layouts/component_renderer', contents: @sub_category[:content] %>
      </div>
    </div>
  </main>
</div>
