<ol class="govuk-list govuk-list--number">
  <% items.each do |item| %>
    <% case item[:type] %>
    <% when :paragraph %>
      <li><%= item[:data][:text] %></li>
    <% when :bullet_list %>
      <%= render 'layouts/renderers/bullet_list_renderer', bullet_list: item[:data] %>
    <% end %>
  <% end %>
</ol>
