<% content_for :title, 'Using ground rules to create a culture of respect and trust' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/category/hiring">Hiring and development</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/sub-category/supporting-early-career-teachers">Supporting early career teachers</a>
              </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/guidance/set-high-expectations">Set high expectations</a>
            </li>
            <li class="govuk-breadcrumbs__list-item dfe-breadcrumbs__current-page" aria-current="page">
              Using ground rules to create a culture of respect and trust
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Using ground rules to create a culture of respect and trust</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
              Education works best in classrooms where there’s a mutual feeling of trust, safety and comfort. 
              Ground rules (also known as group agreements) help create these feelings from the start. 
              Ground rules that work are:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <p class="govuk-body">appropriate for your students’ age and developmental stage</p>
            </li>
            <li>
              <p class="govuk-body">agreed upon by everyone</p>
            </li>
            <li>
              <p class="govuk-body">well explained so that students are very clear about what’s expected</p>
            </li>
            <li>
              <p class="govuk-body">posted clearly in your classroom</p>
            </li>
            <li>
              <p class="govuk-body">referred to at the beginning and throughout the sexual health unit</p>
            </li>
          </ul>
          
          <%= render 'layouts/components/headings/three', text: 'Make your ground rules list with your class.', bold: true %>

           <p class="govuk-body">
              Ground rules work better when students are involved in creating the list. 
              The list doesn’t have to be long. 
              You can use 5 or 10 bullet points that are broad enough to cover the key messages you want students to remember. 
              Some examples you can use as a guide are:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
                <p class="govuk-body">no put downs</p>
            </li>
            <li>
                <p class="govuk-body">respect each other</p>
            </li>
            <li>
                <p class="govuk-body">no personal questions</p>
            </li>
            <li>
                <p class="govuk-body">it’s okay to pass</p>
            </li>
            <li>
                <p class="govuk-body">questions are welcome</p>
            </li>
            <li>
                <p class="govuk-body">use correct terms</p>
            </li>
            <li>
                <p class="govuk-body">listen when others are speaking</p>
            </li>
            <li>
                <p class="govuk-body">classroom discussions are confidential</p>
            </li>
            <li>
                <p class="govuk-body">speak for yourself</p>
            </li>
            <li>
                <p class="govuk-body">respect personal boundaries</p>
            </li>
            <li>
                <p class="govuk-body">we will be sensitive to diversity, and be careful about making careless remarks</p>
            </li>
            <li>
                <p class="govuk-body">it’s okay to have fun</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
