<% content_for :title, 'How can you manage behaviour in the classroom?' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/category/hiring">Hiring and development</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/sub-category/supporting-early-career-teachers">Supporting early career teachers</a>
              </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/guidance/manage-behaviour-effectively">Manage behaviour</a>
            </li>
            <li class="govuk-breadcrumbs__list-item dfe-breadcrumbs__current-page" aria-current="page">
              Manage behaviour in the classroom
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">How can you manage behaviour in the classroom? Get children to think for themselves</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
              <i>While also offloading some of your workload</i>
          </p>
          <p class="govuk-body">
              Every teacher knows how difficult it can be to get children to behave in class (who doesn't?). 
              But there are some useful ways you can get your kids to behave and make your life easier at the same time. 
              We’re going to explain one of those ways today.
          </p>
          <p class="govuk-body">
              The first thing you need is a classroom of kids! Since the average class size is 30 pupils, start by giving each pupil a number from 1 to 5. 
              Once you’ve done that, you get the kids to go sit by the table that has their number on it. 
              (Since groups work together put 2 numbers near a table).
              Randomly assigning pupils a number is also a good way to break up cliques so no one ends up left out, excluded or picked on.
          </p>
          <%= render 'layouts/components/headings/three', text: 'Back to the task!', bold: true %>
          <p class="govuk-body">
              Let’s say you have numbers 1 and 2. Group 1 asks questions and group 2 answers the questions. 
          </p>
          <p class="govuk-body">
              Before they start you set the topic and this should be something you have taught in the classroom already. 
              Then give your pupils the instructions (one asks questions and the other answers). 
          </p>
          <p class="govuk-body">
              A good thing to do at this point is to give the group asking questions 5 minutes to prepare and the group answering questions 5 minutes to revise. 
              You can set a limit to the amount of questions to make it more feasible. We suggest no more than 10 questions. 
              And tell the students there’s a reward for the team with the most correct answers (maybe a nice snack like a little chocolate).
          </p>
          <%= render 'layouts/components/headings/three', text: 'When 5 minutes is up the games begin!', bold: true %>
          <p class="govuk-body">
              And all you have to do is monitor each group to make sure they are not being rude to each other.
          </p>
          <p class="govuk-body">
              Why is this a great thing to do in the classroom? Well, 
              the beauty of this exercise is that students will generally behave in a peer-to-peer learning environment 
              and at the same time they’re revisiting important curriculum that needs to be established.
          </p> 
          <p class="govuk-body">
              Give the groups around 10 minutes to answer questions (1 minute per question). 
          </p>
           <p class="govuk-body">
              After each team is marked out of 10, write the scores on your whiteboard. 
              Then change the topic and get the teams to swap roles so the group asking questions becomes the group answering questions. 
              After you go through the same tasks again, mark the new scores on the whiteboard and announce the winner of the game. 
          </p>
          <%= render 'layouts/components/headings/three', text: 'Ask for their feedback!', bold: true %>
          <p class="govuk-body">
              Get your pupils to rate the game out of 5 and give one word to describe the experience so you can think of ways to improve it next time. 
        </div>
      </div>
    </div>
  </main>
</div>
