<% content_for :title, 'Ask for challenge and feedback from mentors and other colleagues' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item dfe-breadcrumbs__current-page" aria-current="page">
            Professional behaviours
          </li>
        </ol>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-4">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Ask for challenge and feedback from mentors and other colleagues</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Retrospectives, sometimes called ‘retros’, are regular meetings where your whole team talks about what’s going well and what isn’t.
        </p>
        <p class="govuk-body">
          The point of a retro is to fix any problems and to make sure you keep doing the things that are working.
        </p>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <b>Suggested time</b><br>
          30 to 45 minutes
        </p>
        <p class="govuk-body">
          <b>Level of difficulty</b><br>
          Easy
        </p>
        <p class="govuk-body">
          <b>Materials needed</b><br>
          Pens, post-its, wall space 
        </p>
        <p class="govuk-body">
          <b>Participants</b><br>
          Teaching staff or pupils
        </p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= render 'layouts/components/headings/three', text: 'How to run a retro', bold: true %>
        <p class="govuk-body">
          Retros should have an open atmosphere where every member of the team can speak honestly and feel confident that their colleagues will listen. 
        </p>
        <p class="govuk-body">
          The teacher asking for feedback should host the retro. 
        </p>
        <p class="govuk-body">
          The teacher explains the questions at the beginning and sticks a post-it note to the wall for each question. Each teacher or pupil writes down one or more answers for each question on post-it notes and sticks them to the right part of the wall. The group discusses issues as they come up, or at the end. The host decides on actions to fix any problems raised. 
        </p>
        <%= render 'layouts/components/headings/four', text: 'Questions for the retro', bold: true %>
        <p class="govuk-body">
          Ask the members of the group to write down: 
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <p class="govuk-body">what you’re good at </p>
          </li>
          <li>
            <p class="govuk-body">what your weaknesses are </p>
          </li>
          <li>
            <p class="govuk-body">what you could do that would make a difference to them (ideally used if you’re running a retro with your students)</p>
          </li>
        </ul>
        <p class="govuk-body">
          How to analyse the main issues You should use the information you get from your retro to improve your work and your working environment. Make a list of actions that you’ll carry out to fix the problems that your colleagues or pupils have highlighted.
        </p>
      </div>
    </div>
  </main>
</div>
