<% content_for :title, 'Improving the appropriate wait time between question and response in class' %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/category/hiring">Hiring and development</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/sub-category/supporting-early-career-teachers">Supporting early career teachers</a>
              </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/guidance/plan-and-teach-well-structured-lessons">Plan and teach well structured lessons</a>
            </li>
            <li class="govuk-breadcrumbs__list-item dfe-breadcrumbs__current-page" aria-current="page">
              Answer questions using scaffolding
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Improving the appropriate wait time between question and response in class</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            A newly qualified teacher (NQT) needs to help pupils think about their answers so they can develop a:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <p class="govuk-body">wider vocabulary</p>
          </li>
          <li>
            <p class="govuk-body">more developed response</p>
          </li>
        </ul>
        <p class="govuk-body">
            This resource will help an NQT to:
        </p>
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <p class="govuk-body">elicit a more developed response from their class</p>
          </li>
          <li>
            <p class="govuk-body">learn how to gauge the wait time between question and response</p>
          </li>
        </ul>
          <p class="govuk-body">
            This resource specifically helps NQTs to develop as required in standard 4 of the Early Career Framework: Plan and teach well structured lessons
        </p>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <b>Suggested time</b><br>
            30 minutes
        </p>
         <p class="govuk-body">
            <b>Level of difficulty</b><br>
            Hard
        </p>
        <p class="govuk-body">
            <b>Materials needed</b><br>
            Whiteboards, thesaurus’
        </p>
        <p class="govuk-body">
            <b>Participants</b><br>
            Pupils 
        </p>
      </div>
         <div class="govuk-grid-column-two-thirds">
            <%= render 'layouts/components/headings/three', text: 'How to run this exercise', bold: true %>
        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="dfe-list__item">
                Prepare a list of questions you want to ask your pupils. These can be questions on feelings, thoughts, concepts or just describing things or events using adjectives. Examples questions include ‘How do you feel about the environment?’
            </p>
          </li>
          <li>
            <p class="dfe-list__item">
                Introduce the exercise to your class.
            </p>
          </li>
          <li>
            <p class="dfe-list__item">
                Give each student a thesaurus and their own whiteboard. 
            </p>
          </li>
          <li>
            <p class="dfe-list__item">
                Write the question you want to ask up on your whiteboard. 
            </p>
          </li>
          <li>
            <p class="dfe-list__item">
                Ask each pupil for a one-word answer. 
            </p>
          </li>
          <li>
            <p class="dfe-list__item">
                After each pupil has answered, tell them to find a suitable synonym using a thesaurus if necessary. 
            </p>
          </li>
          <li>
            <p class="dfe-list__item">
                Create a leaders’ chart that lists the top 3 pupils’ answers in terms of complexity. 
            </p>
          </li>
          <li>
            <p class="dfe-list__item">
                Repeat the exercise until you have run through your questions. 
            </p>
          </li>
        </ol>
      </div>
    </div>
  </main>
</div>
