.background-cream {
  background-color: #FBF9F6;
}

.background-white {
  background-color: white;
}

.background-wide {
  margin: 0 -500% !important;
  padding: 0 500% !important;
}

.background-grey {
  background-color: #F2F2F2;
}

