.govuk-button {
  background-color: #215ABB !important;
  width: 100% !important;
  text-align: left !important;
  line-height: 32px !important;
  box-shadow: 0 2px #1A4D9E !important;
  margin-bottom: 15px !important;
}
