@import "govuk-frontend/all";

.dfe-image__hero + .govuk-main-wrapper {
  position: relative;
  top: -35px;
  background: white;
}

.govuk-grid-row {
  margin: 0 auto !important;
}

.dfe-grid-row-overlap {
  position: relative;
  top: -30px;
}

.govuk-grid-row .govuk-grid-column-full .govuk-grid-row .govuk-grid-column-one-half:nth-child(odd),
.govuk-grid-row .govuk-grid-column-two-thirds .govuk-grid-row .govuk-grid-column-one-half:nth-child(odd) {
  padding: 0;
}

.govuk-grid-row .govuk-grid-column-full .govuk-grid-row .govuk-grid-column-one-half:nth-child(even),
.govuk-grid-row .govuk-grid-column-two-thirds .govuk-grid-row .govuk-grid-column-one-half:nth-child(even) {
  padding: 0;
}

@media (min-width: 40.0625em) {
  .govuk-grid-row .govuk-grid-column-full .govuk-grid-row .govuk-grid-column-one-half:nth-child(odd),
  .govuk-grid-row .govuk-grid-column-two-thirds .govuk-grid-row .govuk-grid-column-one-half:nth-child(odd) {
    padding: 0 15px 0 0;
  }

  .govuk-grid-row .govuk-grid-column-full .govuk-grid-row .govuk-grid-column-one-half:nth-child(even),
  .govuk-grid-row .govuk-grid-column-two-thirds .govuk-grid-row .govuk-grid-column-one-half:nth-child(even) {
    padding: 0 0 0 15px;
  }
}
