.dfe-header__container {
  margin-bottom: 0;
  border-bottom: none;
}

.dfe-nav__item {
  margin-right: 5px;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  font-family: "Helvetica Neue" !important;
  font-weight: 400 !important;
}

.dfe-header__logo {
  background-image: image-url('header-logo.png')
}

.govuk-header {
  border-bottom: none;
  padding-bottom: 15px;
}

.govuk-header__link:visited {
  color: transparent;
}
