@import "govuk-frontend/settings/media-queries";

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s {
  font-weight: 200;
}

.govuk-heading-xl {
  font-size: 3rem;

  @media (min-width: map-get($govuk-breakpoints, tablet)) {
    font-size: 4rem;
  }
}

.heavy {
  font-weight: 500 !important;
}

ul + .govuk-heading-m {
  margin: 3rem 0 1.25rem 0;
}
