.govuk-heading-xl {
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0.01em;
  font-weight: 200;
}

.govuk-heading-l {
  font-size: 36px;
  letter-spacing: 0.01em;
  font-weight: 200;
}

.govuk-heading-m {
  font-size: 48px;
  line-height: 59px;
  font-weight: 500;
}
