.dfe-image__full-bleed {
  max-height: 75vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  object-fit: cover;
}

.dfe-image__hero {
  max-height: 75vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  object-fit: cover;
}
