.dfe-image__full-bleed {
  max-height: 75vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -50vw;
  margin-right: -50vw;
  object-fit: cover;
}

.dfe-image__hero {
  max-height: 75vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  object-fit: cover;
}

.dfe-image__default {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  margin-bottom: 25px;
}

.govuk-grid-column-two-thirds .govuk-grid-row .govuk-grid-column-one-half a .dfe-image__default {
  min-height: 10rem;
}

.govuk-grid-row .govuk-grid-column-one-half a .dfe-image__default {
  min-height: 15rem;
}

.dfe-image__download-thumbnail {
  width: 150px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  padding: 10px;
  float: left;
  margin-right: 50px;
}

.dfe-image__icon {
  background-color: #ffffff;
  height: 75px;
  width: 75px;
  object-fit: contain;
  padding: 10px;
  float: left;
  margin-right: 50px;
}

.dfe-image__thumbnail {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  margin-bottom: 5%;
}
