.govuk-link {
  text-decoration: none;
  font-weight: 300;
}

.govuk-link {
  font-size: 26px;
  line-height: 32px;
}

.govuk-breadcrumbs__link {
  font-size: 18px;
  line-height: 30px;
}

.govuk-link:link, .govuk-breadcrumbs__link:link {
  color: #215ABB;
}

.govuk-breadcrumbs__list-item {
  padding-left: 35px;
  padding-right: 20px;
}

.govuk-breadcrumbs__list-item:before {
  bottom: 0px;
  border-width: 2px 2px 0 0;
}

.dfe-breadcrumbs__current-page {
  font-size: 18px;
  line-height: 30px;
}

