.govuk-link:link, .govuk-breadcrumbs__link:link {
  color: #215ABB;
  text-decoration: none;
}

.govuk-breadcrumbs__list-item {
  padding-left: 35px;
  padding-right: 20px;
}

.govuk-breadcrumbs__list-item:before {
  bottom: 0px;
  border-width: 2px 2px 0 0;
}
