@import "govuk-frontend/settings/media-queries";

.govuk-list--bullet {
  margin-left: 1.5rem;
}

.dfe-container .govuk-list {
  margin-left: 0;
}

.dfe-list__large-numbers {
  counter-reset: counter;
  list-style: none;
  margin-top: 2.75rem;
  margin-left: 0;
  padding-left: 0;
}

.dfe-list__large-numbers-item {
  min-height: 70px;
  margin: 0 0 2.5rem 0 !important;
  counter-increment: counter;
  display: flex;

  @media (min-width: map-get($govuk-breakpoints, tablet)) {
    margin: 0 0 3.5rem 0 !important;
  }
}

.dfe-list__large-numbers-item::before {
  content: counter(counter) ".";
  font-size: 70px;
  margin-right: 45px;
  top: -15px;
  position: relative;

  @media (min-width: map-get($govuk-breakpoints, mobile)) {
    font-size: 50px;
    margin-right: 30px;
    top: -10px;
    position: relative;
  }
}

.dfe-list__item {
  display: block;
}
