.dfe-list__large-numbers {
  counter-reset: counter;
  list-style: none;
  margin-top: 2.75rem;
}

.dfe-list__large-numbers-item {
  min-height: 70px;
  margin: 0 0 3.5rem 0 !important;
  counter-increment: counter;
  display: flex;
}

.dfe-list__large-numbers-item::before {
  content: counter(counter) ".";
  font-size: 70px;
  margin-right: 45px;
}

.dfe-list__item {
  display: block;
}
