@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-body, .govuk-body-s {
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.padding-top-m {
  padding-top: 5%;
}

.width-s {
  margin: 0 auto;
  width: 60%;
}
