@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

html {
  font-size: 125%;
}

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s, .govuk-body, .govuk-body-s, .govuk-link, .govuk-button, .govuk-breadcrumbs__link, .govuk-list, .govuk-breadcrumbs__list-item, .govuk-caption-xl, .govuk-caption-l, .govuk-caption-m, .govuk-caption-s, .govuk-summary-list__row{
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  font-weight: 200;
}

.govuk-link {
  font-size: 125%;
}

p a {
  font-size: inherit;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.padding-top-m {
  padding-top: 5%;
}

.width-s {
  margin: 0 auto;
  width: 600px;
}

hr {
  border: 2px solid;
  box-shadow: 0px 2px #E0E0E0;
  margin: 7.5% 0 5% 0;
}

.section-break-thin {
  border: 1px solid #BFC1C3;
  box-shadow: none;
}
