<a href="<%= link %>" class="govuk-link">
  <%= render 'layouts/components/images/image', image_src: image_src, image_width: 'icon' %>
  <%= render 'layouts/components/headings/four', text: heading, bold: true %>
  <%= render 'layouts/components/paragraph', text: text %>
</a>
