<a href="<%= link %>" class="govuk-link">
  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2">
    <%= render 'layouts/components/images/image', image_src: image_src, image_width: 'icon' %>
    <%= render 'layouts/components/headings/four', text: heading, bold: true %>
    <%= render 'layouts/components/paragraph', text: text %>
  </div>
</a>
