<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<header class="govuk-header" role="banner" data-module="header">
  <div class="govuk-header__container dfe-header__container govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-header__logo">
          <a href="/" class="govuk-header__link govuk-header__link--homepage" onclick="link_alert(event)">
          <span class="govuk-header__logotype">
            <img src="<%= asset_url('header-logo.png') %>" alt="Logo"/>
          </span>
          </a>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a class="dfe-nav__item" href="/category/hiring" onclick="link_alert(event)">
          Hiring and development
        </a>
        <a class="dfe-nav__item" href="/in-development" onclick="link_alert(event)">
          Staff wellbeing
        </a>
        <a class="dfe-nav__item" href="/in-development" onclick="link_alert(event)">
          Curriculum
        </a>
        <a class="dfe-nav__item" href="/in-development" onclick="link_alert(event)">
          Safeguarding
        </a>
        <a class="dfe-nav__item" href="/category/staff-voices" onclick="link_alert(event)">
          Teaching voices
        </a>
      </div>
    </div>
  </div>
</header>
