<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<header class="govuk-header" role="banner" data-module="header">
  <div class="govuk-header__container dfe-header__container govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-header__logo">
          <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <img src="<%= asset_url('header-logo.png') %>" />
          </span>
          </a>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a class="dfe-nav__item">
          School strategy
        </a>
        <a class="dfe-nav__item">
          Curriculum & accountability
        </a>
        <a class="dfe-nav__item">
          Developing people
        </a>
        <a class="dfe-nav__item">
          Reduce teacher workload
        </a>
        <a class="dfe-nav__item">
          News
        </a>
      </div>
    </div>
  </div>
</header>
